.Questions{
    
    padding-block: 8px;
    max-width: 900px;
    align-items: start;
    flex-direction: column;
    .title-box{
        cursor: pointer;
        user-select: none;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgb(217, 217, 217);
        padding: 10px 0px;
        margin-inline: 20px;
        .question{
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--label);
        }
        .icon{
            font-size: 1rem;
        }
    }

    .answer-box{
        transform: translateY(-100%);
        font-size: 1.2rem;
        padding: 10px 20px;
        color: var(--text);
        font-weight: 300;
        animation: effect 0.1s ease-in-out  forwards ;
    }
}

@keyframes effect {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width:600px) {
    .Questions{
        width: 100%;
        .title-box{
            margin-inline: auto;
            width: 90%;
            justify-content: space-between;
          .question{
           font-size: 1.1rem;
          }
          .icon{
           font-size: 1rem;
          }
        }
        .answer-box{
          font-size: 0.9rem;
        }
    }
}